{% include 'main/navbar.html' %}

<div class="container">
    <h1>Transports</h1>

</div>

<div>
    <div>
        <div class="container">
            <h3>Bicycles</h3>
            {% for bicycle in bicycles %}
            <div>
                <h5>{{ bicycle.id }} -- {{ bicycle.price }}</h5>
            </div>
            {% endfor %}
        </div>


        <div class="container">
            <h3>Scooters</h3>
            {% for scooter in scooters %}
            <div>
                <h5>{{ scooter.id }} -- {{ scooter.price }}</h5>
            </div>

            {% endfor %}

        </div>

         <div class="container">
            <h3>Electric Scooter</h3>
            {% for electricScooter in electric_scooters %}
            <div>
                <h5>{{ electricScooter.id }} -- {{ electricScooter.range }}</h5>
            </div>

            {% endfor %}

        </div>

    </div>
</div>
