{% extends "main/navbar.html" %}
{% block title %}MyRoutes - {{ route.id }}{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;800&family=Montserrat:ital,wght@0,300;1,400&display=swap');
    .container {
        font-family: "Montserrat", sans-serif;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .button{
        margin-top: 15px;
    }
    .button-delete{
        background-color: #e0193f;
        margin-top: 15px;
    }
</style>


<div class="container">
    <h3><b>&nbsp Id Route:</b> &nbsp {{ route.id }}</h3>
    <h3>&nbsp Start Point: &nbsp {{ route.start_point }}</h3>
    <h3>&nbsp End Point: &nbsp {{ route.end_point }}</h3>
    <h3>&nbsp Start Time: &nbsp {{ route.start_time }}</h3>
    <h3>&nbsp Total Distance: &nbsp {{ route.km }}km</h3>
    <h3></h3>
    <a class="cta" href="/home/">
        <button class="button">Back Home</button>
    </a>
    <a class="cta" href="{% url 'main:route_delete' route.id %}">
        <button class="button-delete">Delete</button>
    </a>

</div>
{% endblock %}

